.toggle-button {
    border: none;
    padding: $space;
    width: 100%;
    border-radius: 8px;
    height: 55px;
    font-size: 1.8em;
    line-height: 2em;
    position: relative;
    animation-duration: 0.5s;

    &__icon {
        color: $pink;
        position: absolute;
        top: -$space;
        right: -$space;
        font-size: 1.4em;
        cursor: pointer;
        transition: color 0.1s ease-in;

        &:hover {
            color: $dark-pink;
        }
    }

    &--scale-up {
        animation-name: scale-up;
    }

    &--scale-down {
        animation-name: scale-down;
    }
}

@keyframes scale-up {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scale-down {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}
