.toggle-button {
    background: $light-grey;
    border: none;
    padding: $space;
    width: 100%;
    border-radius: 8px;
    height: 45px;
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: $black;
    animation-duration: 0.5s;
    display: flex;
    align-items: center;

    &__icon {
        color: $pink;
        display: flex;
        top: -$space;
        right: -$space;
        font-size: 1.4em;
        cursor: pointer;
        transition: color 0.1s ease-in;
        margin-right: $space;

        &:hover {
            color: $dark-pink;
        }
    }

    &--scale-up {
        animation-name: scale-up;
    }

    &--scale-down {
        animation-name: scale-down;
    }
}

@keyframes scale-up {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scale-down {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}
