.input {
    border: 1px solid $black;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 1.4em;
    height: 35px;
    padding: $space ($space * 2);
    width: 300px;

    &::placeholder {
        outline: none;
    }
}
