.input {
    background-color: $light-grey;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: $font;
    height: 44px;
    padding: 0 1rem;
    width: 100%;
    transition: background-color 0.25s ease-out;
    color: $black;

    &:focus,
    &:active {
        background-color: #f1f1f1;
        outline: 0;
    }

    &__wrap {
        position: relative;

        &::before,
        &::after {
            content: "";
            height: 2px;
            display: block;
            position: absolute;
            bottom: 0;
            transition: width 0.25s linear;
            left: 0;
        }

        &::before {
            background-color: $black;
            width: 100%;
        }

        &::after {
            background-color: $pink;
            width: 0%;
        }

        &:focus-within {
            &::after {
                background-color: $pink;
                width: 100%;
            }
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    &::placeholder {
        color: $grey;
    }
}
