.select-tile {
    border: none;
    padding: 1.5rem 1rem;
    width: 200px;
    margin-right: $space;
    border-radius: 8px;
    height: 100%;
    font-family: $font;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.4rem;
}
