body {
    background: linear-gradient(0deg, $yellow 0%, $green 100%);
    height: 100vh;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

#root {
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 200px;
    letter-spacing: 2px;
    color: #3dab93;
    padding: 20px;
}

h2 {
    margin: 0;
}
