.content {
    align-self: center;
    background: rgb(255 255 255 / 30%);
    border-radius: 10px;
    box-shadow:
        0 1px 2px rgb(0 0 0 / 7%),
        0 2px 4px rgb(0 0 0 / 7%),
        0 4px 8px rgb(0 0 0 / 7%),
        0 8px 16px rgb(0 0 0 / 7%),
        0 16px 32px rgb(0 0 0 / 7%),
        0 32px 64px rgb(0 0 0 / 7%);
    box-sizing: border-box;
    height: 700px;
    justify-self: center;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}
