/* Variables */

$font: "Manrope", sans-serif;
$light: 300px;
$regular: 400px;
$semi-bold: 600px;
$bold: 700px;

$space: 10px;
$black: #000;

body {
    font-size: $space;
    font-family: $font;
    margin: 0;
}

@import "../components/Content/Content";
@import "../components/Heading/Heading";
@import "../components/Input/Input";
